/* Select All */
* {
    padding: 0px;
    margin: 0px;
  }
  /* Root */
  :root {
    /* Colours */
    --light-grey: #f5f5f5;
    --grey: #d9d9d9;
    --teal: #229799;
    --blue: #344d67;
    --tint: #424242;
  }
  
  /* Body */
  body {
    font-family: "Inter", sans-serif;
  }
  
  /* Wrapper */
  #wrapper {
    max-width: 1000px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  main{
    flex-grow: 1;
  }
  /* Header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--tint) 2px solid;
  }
  #logo {
    padding-left: 20px;
  }
  #user-account{
    width: 32px;
    height: 32px;
  }
  
  /* Nav */
  nav ul {
    display: flex;
    align-items: center;
  }
  nav li {
    list-style: none;
    padding: 20px;
  }
  nav li a {
    color: var(--tint);
    text-decoration: none;
    font-size: 1.2em;
  }
  
  nav button {
    background-color: var(--teal);
    height: 50px;
    width: 120px;
    border-radius: 10px;
  }
  nav button a {
    color: #fff;
    font-size: 1.5em;
  }
  
  /* Hero */
  #hero {
    height: 500px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
  }
  .hero-image{
    z-index: 1;
    grid-column: 1/11;
    grid-row: 1/11;
  }
  .hero-image img{
    width: 100%;
   
  }
  .hero-tint{
    z-index: 4;
    grid-column: 1/11;
    grid-row: 1/11;
    background-color: var(--tint);
    opacity: 0.7;
  }
  .hero-CTA{
    z-index: 10;
    grid-column: 1/11;
    grid-row: 1/11;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
  }
  .hero-CTA-text{
    grid-column: 1/6;
    grid-row: 4/11;
    margin-left: 40px;
  }
  .hero-CTA-text h1{
    color: #fff;
    font-weight: 400;
    font-size: 4em;
  }
  .hero-CTA-tag{
    grid-column: 7/9;
    grid-row: 7/9;
  }
  .hero-CTA-btn{
    grid-column: 9/11;
    grid-row: 7/9;
  }
  .hero-CTA-btn button{
    background-color: var(--teal);
    height: 50px;
    width: 120px;
    border-radius: 10px;
    color: #fff;
    font-weight: 400;
    font-size: 1.2em;
  }
  .hero-CTA-btn a{
    color: #fff;
    text-decoration: none;
  }
  .hero-CTA-tag h2{
    color: #fff;
    font-weight: 400;
  }
  
  .about-hero-text{
    z-index: 10;
    grid-column: 7/11;
    grid-row: 4/11;
  }
  .about-hero-text h1{
    color: #fff;
    font-size: 3em;
    font-weight: 400;
  }
  
  /* Forms */
  form {
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 500px;
  }
  #login-form h1 {
    color: var(--teal);
    text-align: center;
    font-size: 2.5em;
    padding-top: 80px;
    padding-bottom: 20px;
  }
  #signup-form h1 {
    color: var(--blue);
    text-align: center;
    font-size: 2.5em;
    padding-top: 80px;
    padding-bottom: 20px;
  }
  .email {
    padding: 20px;
  }
  .password {
    padding: 20px;
  }
  
  #login-form label {
    color: var(--blue);
    font-size: 1.5em;
  }
  #signup-form label {
    color: var(--teal);
    font-size: 1.5em;
  }
  input {
    height: 50px;
    width: 350px;
    font-size: 1.5em;
    padding-left: 10px;
    border-radius: 5px;
    border: 0px;
  }
  ::placeholder {
    color: var(--grey);
  }
  
  #login-form button {
    background-color: var(--teal);
    width: 350px;
    height: 45px;
    border: 0px;
    border-radius: 10px;
    color: #fff;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #signup-form button {
    background-color: var(--blue);
    width: 350px;
    height: 45px;
    border: 0px;
    border-radius: 10px;
    color: #fff;
    font-size: 2em;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #login-form a {
    color: var(--blue);
    font-size: 1em;
    padding-top: 20px;
  }
  #signup-form a {
    color: var(--teal);
    font-size: 1em;
    padding-top: 20px;
  }
  form .container {
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    height: 100%;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
  }

  #sell-form{
    width: 800px;
  }
  .product-details input{
    font-size: 1em;
  }
  #sell-form h1{
    color: var(--blue);
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
  }

  #sell-form .container{
    flex-direction: row;
    width: 100%;
    height: 500px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  .upload-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--blue);
    border-radius: 10px;
    height: 350px;
    width: 350px;
    margin-right: 20px;
    background-color: #fff;
  }

 #file-input{
  width: 300px;
  padding: 0px;
 }
 #preview-image{
  max-width: 100%;
 }
  .product-details{
    display: flex;
    height: 350px;
    flex-direction: column;
  }
  #product-title, #product-price{
    height: 30px;
    margin-bottom: 15px;
  }
  #product-description{
    height: 150px;
  }
  .product-details button{
    background-color: var(--blue);
    color: #fff;
    border-radius: 10px;
    height: 45px;
    margin-top: 20px;
    font-size: 1.5em;
  }

  /* Recent Listings */
  #recent-listings{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #recent-listings h2{
    text-align: center;
    font-weight: 400;
    color: var(--blue);
  }
  .listing-container{
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-flow: wrap;
    gap: 20px;
  }
  .listing-item{
    /* background-color: var(--tint); */
    height: 200px;
    width: 200px;
    border-radius: 10px;
    /* opacity: 0.6; */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .listing-item-image{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    height: 150px;
    
  }
  .listing-item-image img{
    height: 100%;
  }
  .listing-item-text{
    height: 50px;
    text-align: center;
  }
  .view-more a{
    margin-left:900px;
  }
  /* about-section */
  #about-section h2{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2em;
    font-weight: 400;
    color: var(--blue);
    text-align: center;
  }
  /* How it works */
  #how-it-works {
    background-color: var(--teal);
    height: 500px;
    margin-top: 50px;
  }
  #how-it-works h2 {
    text-align: center;
    color: #fff;
    font-size: 2em;
    font-weight: 400;
    padding-top: 50px;
  }
  /* Cards */
  .card-container {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 300px;
    background-color: var(--light-grey);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }
  .card-icon {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .card-icon img {
    width: 96px;
  }
  .card-text {
    margin-left: 30px;
    margin-right: 30px;
  }
  .card-text h3 {
    text-align: center;
    margin-bottom: 10px;
  }
  
  /* about CTA */
  #about-CTA h2 {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    margin-top: 50px;
    color: var(--blue);
  }
  .CTA-container {
    display: flex;
    background-color: var(--light-grey);
    border-radius: 10px;
    height: 400px;
    width: 800px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .CTA-image {
    overflow: hidden;
    width: 400px;
  }
  .CTA-image img {
    width: 100%;
  }
  .CTA-text {
    width: 300px;
    margin-left: 50px;
  }
  .CTA-text button {
    background-color: var(--teal);
    height: 40px;
    width: 300px;
    border-radius: 10px;
    border: 0px;
    margin-top: 30px;
  }
  .CTA-text button a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
  }
  
  /* Browse Products */
  #browse-products{
    margin-top: 50px;
    margin-bottom: 50px;
   }
  #browse-products h2{
   color: var(--blue);
   text-align: center;
   font-weight: 400;
   margin-bottom: 30px;
  }
  

  /* Product Details */
  #product-details-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 800px

  }
  #product-details-image{
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    width: 400px;
    height: 400px;
    margin-right: 50px;

  }
  #product-details-text{
    display: flex;
    flex-direction: column;
  }
  #product-details-text p{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #buy-button{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 45px;
    width: 120px;
    border-radius: 5px;
    border: 2px solid var(--blue);
    background-color: var(--teal);
    color: #fff;
    font-size: 1.5em;
  }

  
  /* Footer */
  footer {
    background-color: var(--blue);
    height: 150px;
  }
  